In [19]:
# Import library-library yang akan digunakan selama proses pemisahan dataset menjadi data train dan data test
import os
import pandas as pd
from sklearn.model_selection import train_test_split
import shutil
from tqdm.notebook import tqdm as tq

In [20]:
# Membuat 2 variabel sebagai path dari original dataset dan splitting (pembagian) dataset
datasource_path = "Dataset_Original/"
dataset_path = "Dataset_Splitting/"

In [21]:
mypath = "Dataset_Original/"

file_name = []
tag = []
full_path = []
for path, subdirs, files in os.walk(mypath):
    for name in files:
        full_path.append(os.path.join(path, name)) 
        tag.append(path.split('/')[-1])        
        file_name.append(name)

In [22]:
# Memasukan variabel yang sudah dikumpulkan pada looping di atas menjadi sebuah dataframe agar rapih
data_split = pd.DataFrame({"path":full_path, "file_name":file_name, "tag":tag})
data_split.groupby(["tag"]).size()

tag
Bukan_Fundus_Mata    1057
Cataract             1038
Normal               1074
dtype: int64

In [23]:
# Menampilkan 5 data teratas dari variabel dataframe yang bernama "data_split"
data_split.head()

,path,file_name,tag
0,Dataset_Original/Bukan_Fundus_Mata\forward_loo...,forward_look (1000).png,Bukan_Fundus_Mata
1,Dataset_Original/Bukan_Fundus_Mata\forward_loo...,forward_look (1001).png,Bukan_Fundus_Mata
2,Dataset_Original/Bukan_Fundus_Mata\forward_loo...,forward_look (1002).png,Bukan_Fundus_Mata
3,Dataset_Original/Bukan_Fundus_Mata\forward_loo...,forward_look (1003).png,Bukan_Fundus_Mata
4,Dataset_Original/Bukan_Fundus_Mata\forward_loo...,forward_look (1004).png,Bukan_Fundus_Mata

In [24]:
# Menampilkan 5 data terbawah dari variabel dataframe yang bernama "data_split"
data_split.tail(5)

                                       path      file_name     tag
3164    Dataset_Original/Normal\8_right.jpg    8_right.jpg  Normal
3165   Dataset_Original/Normal\939_left.jpg   939_left.jpg  Normal
3166  Dataset_Original/Normal\939_right.jpg  939_right.jpg  Normal
3167   Dataset_Original/Normal\951_left.jpg   951_left.jpg  Normal
3168  Dataset_Original/Normal\951_right.jpg  951_right.jpg  Normal

In [25]:
# Menginisialisasi 2 variabel(x dan y) yang digunakan pada memisahkan data menjadi 2 bagian yaitu data train dan data test
x = data_split["path"]
y = data_split["tag"]

In [26]:
# Split dataset awal menjadi data train dan test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=30)

In [27]:
# Menyatukan ke dalam masing-masing dataframe

data_train = pd.DataFrame({"path":x_train, "tag":y_train, "set":"train"})

data_test = pd.DataFrame({"path":x_test, "tag":y_test, "set":"test"})

In [28]:
print("train size", len(data_train))
print("test size", len(data_test))

train size 2218
test size 951

In [29]:
# Melihat proporsi pada masing masing set apakah sudah ok atau masih ada yang ingin diubah
all_dataframe = data_train.append([data_test]).reset_index(drop=1)\

print("===================================================== \n")
print(all_dataframe.groupby(["set", "tag"]).size(), "\n")

print("===================================================== \n")

# Cek sample datanya
all_dataframe.sample(3)

=====================================================

set    tag
test   Bukan_Fundus_Mata    303
       Cataract             333
       Normal               315
train  Bukan_Fundus_Mata    754
       Cataract             705
       Normal               759
dtype: int64

=====================================================

C:\Users\ekapr\AppData\Local\Temp\ipykernel_14988\2327838498.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_dataframe = data_train.append([data_test]).reset_index(drop=1)\

                                          path       tag    set
2442     Dataset_Original/Normal\3248_left.jpg    Normal   test
1322    Dataset_Original/Normal\3013_right.jpg    Normal  train
20    Dataset_Original/Cataract\2182_right.jpg  Cataract  train

In [30]:
for index, row in tq(all_dataframe.iterrows()):
    
    # Detect filepath
    file_path = row['path']
    if os.path.exists(file_path) == False:
            file_path = os.path.join(datasource_path, row["tag"], row["image"].split(".")[0])            
    
    # Make folder destination dirs
    if os.path.exists(os.path.join(dataset_path, row["set"], row["tag"])) == False:
        os.makedirs(os.path.join(dataset_path, row["set"], row["tag"]))
    
    # Define file dest
    destination_file_name = file_path.split("\\")[-1]
    file_dest = os.path.join(dataset_path, row["set"], row["tag"], destination_file_name)
    
    # Copy file from source to dest
    if os.path.exists(file_dest) == False:
        shutil.copy2(file_path, file_dest)

0it [00:00, ?it/s]